



/* Slick Styling */

/*

.slider-nav .slick-slide,
.slider-for .slick-slide {
    margin: 0 5px 0 5px;
}

.slider-nav {
    margin: 10px 0;
}

.slider-for,
.slider-nav {
    height: auto;
}



/* Main Banner */

@media (max-width: 991px) {
    .banner-container {
        width: 700px;
    }
}

@media (max-width: 1600px) {
    .banner-container {
        width: 80%;
    }
}

.banner-container {
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
    padding: 60px 0;
}

.banner-heading {
    font-family: Roboto;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: .5rem;
    margin-top: .5rem;
}


.banner-text a {
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 900;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin: .5rem 0;
    display: inline-block;

}

.banner-text a:hover {
    background-color: #ffffff44;
    color: white;
}

.banner {
    height: 500px;
    display: flex !important;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner .wide-bottle {
    width: 30%;
    height: auto;
}

.banner-subheading {
    font-family: Roboto;
    font-size: 1.5rem;
    margin: .5rem 0;
}

.banner img {
    max-width: 400px;
    width: 30%;
}

.banner img {
    z-index: 1;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}


.slider-for {
    width: 100%;
    position: relative;
}



.banner-text {
    max-width: 600px;
    margin: 10px;
    z-index: 1000;
}


/* Nav Banner */


.slider-nav {
    width: 100%;
    height: 200px;
    position: relative;
}

.nav-banner {
    height: 200px;
    display: flex !important;
    flex-direction: row;
    color: black;
    justify-content: space-around;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}

.nav-banner img {
    height: 80%;
}

.nav-banner-content div {
    font-size: 1rem;
    font-family: Roboto;
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    padding: 5px;
}



.nav-banner .wide-bottle {
    width: 30%;
    height: auto
}





.nav-banner.slick-current {
    filter: grayscale(0);
}


.nav-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: 1;
}


.nav-banner img,
.nav-banner .nav-banner-content {
    position: relative;
    z-index: 2;
}

.nav-banner-content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 85%;
}


.nav-banner-content .wide-bottle {
    max-height: 200px;
    width: 70%;
}

/* Colors/Gradients */

.purple .banner-text {
    background-color: #6a0daddf;
    color: white;
    padding: 20px;
    border: 2px solid white;
    box-shadow: 0 0 10px 5px #6a0daddf;
}

.light-blue .banner-text {
    background-color: #1c8bc7df;
    color: white;
    padding: 20px;
    border: 2px solid white;
    box-shadow: 0 0 10px 5px #1c8bc7df;
}

.dark-blue .banner-text {
    background-color: #093e6edf;
    color: white;
    padding: 20px;
    border: 2px solid white;
    box-shadow: 0 0 10px 5px #093e6edf;
}

.purple.banner::before {
    background: linear-gradient(to bottom, rgba(106, 13, 173, 0.5), rgba(106, 13, 173, 0.5));
}

.light-blue.banner::before {
    background: linear-gradient(to bottom, rgba(28, 139, 199, 0.5), rgba(28, 139, 199, 0.5));
}

.dark-blue.banner::before {
    background: linear-gradient(to bottom, rgba(9, 62, 110, 0.5), rgba(9, 62, 110, 0.5));
}

.slick-current .purple.nav-banner::before {
    background: linear-gradient(to bottom, rgba(106, 13, 173, 0.5), rgba(106, 13, 173, 0.5));
}

.slick-current .light-blue.nav-banner::before {
    background: linear-gradient(to bottom, rgba(28, 139, 199, 0.5), rgba(28, 139, 199, 0.5));
}

.slick-current .dark-blue.nav-banner::before {
    background: linear-gradient(to bottom, rgba(9, 62, 110, 0.5), rgba(9, 62, 110, 0.5));
}

.slick-current.nav-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}





.dark-gradient {
    padding: 20px;
    color: white;
}





/* Promotions */
.blue .promo-code-container {
    color: #093d6e;
}

.purple .promo-code-copy {
    color: #6a0dad;
}

.light-blue .promo-code-copy {
    color: #1c8bc7;
}

.blue .copy-btn-container {
    background-color: #093d6e;
}

.purple .copy-btn-container {
    background-color: #6a0dad;
}

.light-blue .copy-btn-container {
    background-color: #1c8bc7;
}

.promo-code-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: fit-content;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
    margin-right: 10px;
    font-family: Roboto;

}

.promo-code-copy {
    padding: 5px 10px;
    cursor: pointer;
    color: #093d6e;
    background: #ffffff;
    border-radius: 100px 0 0 100px;
    font-weight: bold;


}

.banner-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin-top: 20px;
}
.promo-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.promotions {
    display: flex;
    flex-direction: row;
}

.promotions .promotion {
    margin-right: 50px;
}



.copy-btn {
    background-image: url(/copy.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin:  5px 10px;
    height: 20px;
    width: 20px;
}

.copy-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid 3px white;
    border-radius: 0 100px 100px 0;
}

.promotions {
    display: flex;
    flex-direction: row;
}

.promotions div {
    margin-right: 10px;

}

.promotion {
    margin: .5rem 0;

}

.promotion div {
    font-family: Roboto;
    font-size: 1.2rem;
    text-align: left;
}


.promo-code-copy {
    cursor: pointer;
}

.copy-btn {
    background-image: url(/images/default-source/homepage/copy.svg?sfvrsn=196571dd_1);
    background-size: contain;
    background-repeat: no-repeat;
    margin:  5px 10px;
    height: 20px;
    width: 20px;
}

#notification {
    display: none;
    font-family: Roboto;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #ffffff;
    color: #00689e;
    padding: 10px;
    border-radius: 5px;
    z-index: 1001;
    transition: all 0.5s ease;
}

/* Responsive */








@media (max-width: 768px) {
    .banner-text {
        border: none;
        box-shadow: none;
    }

    .banner-subheading {
        font-size: 1rem;
    }

    .promotion div {
        font-size: 1.2rem;
    }

    .banner {
        flex-direction: column-reverse;
        height: 375px;
    }

    .banner-text {
        height: 100%;
        margin: 0;
    }

    .banner img {
        width: 80%;
        height: auto;
        display: none;
    }

    .banner-text {
        max-width: 100%;
        width: 100%;
        padding: 10px;
    }

    .slider-for {
        height: auto;
    }

    .slider-nav {
        height: auto;
    }

    .purple .banner-text {
        border: none;
        box-shadow: none;
    }

    .light-blue .banner-text {

        border: none;
        box-shadow: none;
    }

    .dark-blue .banner-text {
        border: none;
        box-shadow: none;
    }
}

@media (max-width: 400px) {
    .banner {
        flex-direction: column-reverse;
        height: 425px;
    }
}

*/