/* .blue .promo-code-container {
    color: #093d6e;
}

.purple .promo-code-copy {
    color: #6a0dad;
}

.light-blue .promo-code-copy {
    color: #1c8bc7;
}

.blue .copy-btn-container {
    background-color: #093d6e;
}

.purple .copy-btn-container {
    background-color: #6a0dad;
}

.light-blue .copy-btn-container {
    background-color: #1c8bc7;
} */

.promo-code-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
    font-family: Roboto;
    color: black;
    margin: 5px;
}

.promo-code-copy {
    padding: 5px 10px;
    cursor: pointer;
    color: #000000;
    background: #ffffff;
    font-weight: bold;
}


.promo-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.copy-btn {
    background-image: url(/copy.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 5px 10px;
    height: 20px;
    width: 20px;
}

.copy-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid 3px white;
}






.banner-container {
    max-width: 1600px;
    margin: 0 auto;
}

.banner-heading {
    font-family: Roboto;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: .5rem;
    margin-top: .5rem;
}




#notification {
    display: none;
    font-family: Roboto;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #ffffff;
    color: #00689e;
    padding: 10px;
    border-radius: 5px;
    z-index: 1001;
    transition: all 0.5s ease;
}






.banner.purple,
.nav-banner.purple {
    background-color: #4f347e;
}

.banner.light-blue,
.nav-banner.light-blue {
    background-color: #1c8bc7;
}

.banner.dark-blue,
.nav-banner.dark-blue {
    background-color: #093d6e;
}

.shop-now {
    background: #ffffff;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}

.purple .shop-now {
    color: #4f347e
}

.light-blue .shop-now {
    color: #1c8bc7;
}

.dark-blue .shop-now {
    color: #093d6e;
}

.banner img {
    width: 100%;
}




.banner-section {
    z-index: 1000;
    border-radius: 25px;
    padding: 20px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.281), rgba(70, 70, 70, 0.466));
}













.nav-banner {
    height: 200px;
    display: flex !important;
    flex-direction: row;
    color: black;
    justify-content: space-around;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
    position: relative;
    z-index: 0;
}

.nav-banner img {
    height: 80%;
}

.nav-banner-content div {
    font-size: 1rem;
    font-family: Roboto;
    color: white;
}

.nav-banner-content div {
    text-transform: capitalize;
    font-weight: bold;
    padding: 5px
}

.banner .wide-bottle {
    width: 50%;
    height: auto;
}

.nav-banner .wide-bottle {
    width: 30%;
    height: auto
}





.nav-banner.slick-current {
    filter: grayscale(0);
}

/* .nav-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: 1;
} */

.nav-banner img,
.nav-banner .nav-banner-content {
    position: relative;
    z-index: 2;
}

.dark-gradient {
    padding: 20px;
    color: white;
}

.banner-subheading {
    font-family: Roboto;
    font-size: 1.5rem;
    margin: .5rem 0;
}



.nav-banner-content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 85%;
}


.nav-banner-content .wide-bottle {
    max-height: 200px;
    width: 70%;
}






.banner .left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
}

.banner .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}


.left .text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;

}

.banner {
    display: flex;
    flex-direction: column;
}



.banner {
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Roboto;
    color: white;
    height: 100%;
    padding: 15px;
}



.content {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid white;
    border-radius: 25px;
    margin: 10px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.281), rgba(70, 70, 70, 0.466));
}

.promos {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    width: 100%;
    height: 100%;
}

.promo {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.281), rgba(70, 70, 70, 0.466));
    border: 1px solid white;
    border-radius: 25px;
    margin: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    height: 80%;


}


@media (min-width: 680px) {

    .slick-active .text-content {
        animation: slideIn 2s forwards;
    }
    
    .slick-active .banner-img {
        animation: slideRight 3s forwards;
    }

    .banner img {
        width: 40%;
    }


    .banner {
        flex-direction: row;
    }



    .content {

        flex-direction: row-reverse;
        justify-content: space-evenly;
        height: 350px;
    }


    .promos {
        flex-direction: column;
        width: 30%;
    }

    .promo {
        height: 350px;
    }

    .promo.two {
        height: 150px;
    }

    .promo.two h2,
    .promo.two div {
        font-size: 1rem;

    }





}

@media (min-width: 852px) {





    .banner img {
        width: 40%;
    }

}

@media (min-width: 992px) {
    .banner img {
        height: 120%;
        width: auto;
    }

    .banner .banner-heading {
        font-size: 3rem;
    }


}

@media (min-width: 1200px) {
    .banner img {
        height: 120%;
        width: auto;
    }
}



.slick-current .nav-banner-content {
    opacity: 1;
}

.nav-banner-content {
    opacity: .75;
}




@media (max-width: 680px) {
    .slick-active .text-content {
        animation: fadeIn 2s forwards;
    }
    
    .slick-active .banner-img {
        animation: fadeIn 3s forwards;
    }
    
}



@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-25px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}

@keyframes slideRight {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
    
}